<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.orgdevelopers.hamzs">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".ExtraActivities.Email_signUp"
            android:exported="true" />
        <activity
            android:name=".ExtraActivities.ReviewActivity"
            android:exported="true" />
        <activity
            android:name=".ExtraActivities.SearchActivity"
            android:exported="true" />
        <activity
            android:name=".ExtraActivities.AboutUs_A"
            android:exported="true" />
        <activity
            android:name=".Profile.ProfileA"
            android:exported="true" />
        <activity
            android:name=".Profile.SignUp.SignupActivity"
            android:exported="true" />
        <activity
            android:name=".Profile.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".All_ReviewsActivity"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".AppDetail"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:hardwareAccelerated="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/appstore_url_domain"
                    android:pathPrefix="@string/appstore_url_domain_pathprefix"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>